[2019-07-11 17:59] mubix opened #1 "David Jones (Rance)"

[2019-07-11 17:59] mubix opened #2 "Terrence Gareau (Tuna)"

[2019-07-11 18:00] mubix opened #3 "Jon Hart"
https://twitter.com/jhartftw

[2019-07-11 18:00] mubix opened #4 "Barnaby Michael Douglas Jack"

[2019-07-11 18:01] mubix opened #5 "Brad Smith (Nurse)"
I don't remember his twitter account but he was an amazing person and friend to all, I could use some help finding links for things about him again.

[2019-07-11 18:30] mubix opened #6 "Len Sassaman (rabbi)"
Links here: https://en.wikipedia.org/wiki/Len_Sassaman

[2019-07-11 18:39] mubix opened #7 "Aaron Swartz"
Info https://en.wikipedia.org/wiki/Aaron_Swartz

[2019-07-11 20:10] attritionorg opened #9 "auto-tweeting feedback & ideas"
"I would also like to have the twitter account I created @RestInCode to tweet out via Lamda or whatever a reminder of dates of passing or other messages of well wishes on a regular basis."

I'd recommend pinging Steve Werby, who runs the @TodayInInfosec account which does just that. Not sure if he has it automated or if so, to what degree, but he can likely give valuable input on his experience he

[2019-07-11 20:14] attritionorg commented on #2
https://www.facebook.com/events/2350457118369522/
JUL 13
Celebrating the Life of Terrence(Tuna) William Gareau

[2019-07-11 20:16] attritionorg opened #10 "Mike Assante"
https://www.csoonline.com/article/3403656/mike-assantes-lasting-impact-on-critical-infrastructure-security-and-me.html

[2019-07-11 20:18] mubix commented on #10
Thanks!
- Twitter Link - https://twitter.com/assante_michael

[2019-07-11 20:20] mubix commented on #9
Thanks! Reached out.

[2019-07-11 22:55] DavBatz commented on #10
https://www.prnewswire.com/news-releases/michael-j-assante-awarded-sans-ics-lifetime-achievement-award-300616669.html

[2019-07-11 23:01] attritionorg commented on #2
https://twitter.com/kingtuna

[2019-07-11 23:05] attritionorg opened #11 "Christian Wright (Curiosity / C?)"
https://twitter.com/cw_infosec

https://seclists.org/isn/2019/May/33

https://www.gofundme.com/in-memory-of-christian-wright

https://www.facebook.com/groups/359810421318698/

[2019-07-11 23:17] attritionorg opened #12 "Josh Cohen (PacBell)"
https://www.defcon.org/html/links/dc-goon-hof.html

Josh
1978-2005

Ted Turner Wannabe (DEF CON TV Engineer), RBOC, Network Flunkie, Deputy Schmoozer.
Superpowers: Taking over cable networks without breaking a sweat, Cabling/crimping for 36 hrs straight, reading minds of lame telco installers.
Best con moment: We now interrupt the regularly scheduled programming to bring you Cindy Salsa
Favorite c

[2019-07-11 23:19] attritionorg opened #13 "Robert Conner Ashby (Poolboy)"

[2019-07-11 23:21] attritionorg opened #14 "Jay Des Dyson (Cancer Omega)"
http://attrition.org/~comega/

[2019-07-11 23:29] attritionorg opened #15 "Branden Hancock (Ghent)"

[2019-07-11 23:35] attritionorg opened #16 "Joe Engressia (Joybubbles)"

[2019-07-12 01:14] attritionorg commented on #14
https://www.dignitymemorial.com/obituaries/surprise-az/jay-dyson-4930372
Jay Des Dyson
September 22, 1962 – December 21, 2011

Jay Dyson, 49, of Surprise, Arizona, passed away on December 21, 2011. He was preceded in death by his mother, Carole Clough. He is survived by his loving wife, Marie Dyson, children, Andrew and Miranda Dyson, father, Bill Clough, brothers, Douglas, Charlie and Michael Clo

[2019-07-12 02:08] attritionorg opened #17 "Gary James (Turb1n3)"

[2019-07-12 02:50] attritionorg opened #18 "Michael Hamelin (Hacker Joe)"
https://twitter.com/defcon/status/550771517416407040

[2019-07-12 02:51] attritionorg opened #19 "Joe Rogers (Selir)"
https://twitter.com/jeremycec/status/1138781929262788609

[2019-07-12 03:03] attritionorg opened #20 "Obsèques de Paolo"
https://twitter.com/jaysonstreet/status/144114558351589376

[2019-07-12 03:06] attritionorg opened #21 "Mike Kemp (ClappyMonkey)"
https://twitter.com/clappymonkey

https://twitter.com/jaysonstreet/status/1110522455116918790

[2019-07-12 04:43] mubix opened #22 "Arjen Kamphuis"
Twitter - https://twitter.com/ArjenKamphuis/

As requested by https://twitter.com/dutchdelphidude/status/1149536155743870977

[2019-07-12 04:50] attritionorg commented on #22
https://about.me/arjenkamphuis

[2019-07-12 05:16] mubix commented on #5
https://web.archive.org/web/20131103174751/http://www.bradthenurse.com/brads-blog.html

[2019-07-12 07:23] benleb opened #23 "Karl Koch"
https://en.wikipedia.org/wiki/Karl_Koch_(hacker)

[2019-07-12 07:24] benleb opened #24 "Boris Floricic (Tron)"
https://en.wikipedia.org/wiki/Tron_(hacker)

[2019-07-12 16:43] timb-machine opened #25 "Ian Murdock"
https://en.wikipedia.org/wiki/Ian_Murdock

[2019-07-12 16:45] timb-machine opened #26 "Jaime Cochran (ACKFlags)"

[2019-07-12 17:28] attritionorg commented on #26
Based on a search, I think "Cochran" (no 'e')?

https://www.reddit.com/r/Drama/comments/7psp0p/one_of_the_internets_most_infamous_trolls_jaime/

[2019-07-12 18:29] timb-machine commented on #26
Stupid fingers.

[2019-07-14 16:09] attritionorg opened #28 "Rebecca Bace"
https://en.wikipedia.org/wiki/Rebecca_Bace

[2019-07-15 15:38] DestroyToCreate commented on #26
It's no e, can confirm. RIP Asshurt. <3

[2019-07-15 15:58] mauvehed opened #29 "Bret Mattingly (Delta)"
https://www.legacy.com/obituaries/indystar/obituary.aspx?n=bret-oliver-mattingly&pid=191620602&fhid=14455

[2019-07-15 16:45] maxweisel opened #31 "Ben Byer (bushing)"
https://fail0verflow.com/blog/2016/ben/

[2019-07-15 16:52] kkuehl opened #32 "Jonathan Stuart (dent1zt)"
https://twitter.com/dent1zt
https://recon.cx/2012/schedule/speakers/86.en.html

[2019-07-15 17:00] mauvehed opened #33 "Geoffrey Bennett"
https://www.dignitymemorial.com/obituaries/austin-tx/geoffrey-bennett-8211772

[2019-07-15 17:09] mauvehed opened #34 "Add DEF CON Goons from Hall of Fame "In Memoriam""
Bottom of https://www.defcon.org/html/links/dc-goon-hof.html

[2019-07-15 17:26] attritionorg commented on #13
1992-2011
Poolboy, aka Robert Conner Ashby, 19, of Ventura, passed away on Monday, Nov. 21, 2011.

https://www.defcon.org/html/links/dc-goon-hof.html

[2019-07-15 17:27] attritionorg opened #35 "Nick Jeremicah (Dr. Nick2000)"
https://www.defcon.org/html/links/dc-goon-hof.html

1977-2006
Dr Nick aka Nick Jeremicah lost the battle against cancer in the fall of 2006.

He is survived by his parents, siblings, wife and two children.

Dr Nick2000 was 30 years old.

[2019-07-15 17:28] attritionorg commented on #15
https://www.defcon.org/html/links/dc-goon-hof.html

Ghent aka Branden Hancock
1977-2003

Ghent aka Branden Hancock died of injuries sustained in a motorcycle accident.

He is survived by his mother and younger sister.

Ghent was 26 years old.

[2019-07-15 17:28] attritionorg opened #36 "[Delete - Duplicate]"

[2019-07-15 17:29] attritionorg commented on #34
Added / updated.

[2019-07-15 17:40] attritionorg commented on #29
https://twitter.com/bretmattingly

[2019-07-15 17:40] attritionorg commented on #29
https://www.linkedin.com/in/bretmattinglyii/

[2019-07-15 18:21] #34 closed, assigned to nobody

[2019-07-15 19:04] ecapuano opened #37 "Nolan Berry (@d3vnull42)"
Nolan was a friend to many, and a key contributor to the Blue Team Village at DEFCON. He passed on November 9, 2018

https://twitter.com/d3vnull42
https://www.cressfuneralservice.com/obituary/282690/Nolan-Berry/#obituary
https://blog.opensoc.io/a-tribute-to-devnull/

Nolan is 5th from the left in this picture from DC26

![image](https://user-images.githubusercontent.com/4219694/61241572-69052580-a

[2019-07-15 20:29] noid23 opened #39 "Ryan Van Der Wall (AlmostDeadGuy)"
Ryan lost his battle with cancer in 2006. Ryan passed almost two weeks to the day after Nick Jeremica

1983(?) - 2006

[2019-07-15 21:10] taylorbanks commented on #18
aka Michael Hamelin. I believe I have several photos, dating back as far as 2000. I'll rustle some up and link them here.

[2019-07-15 21:20] taylorbanks opened #40 "Maxx Redwine"
Maxx had a lifelong struggle with diabetes and passed in early 2011.

June 24, 1964 - January 31, 2011

[2019-07-15 22:11] attritionorg commented on #40
https://www.dignitymemorial.com/obituaries/kennesaw-ga/maxx-redwine-4544321

[2019-07-16 13:22] mauvehed opened #44 "Kris Kaspersky"
https://en.wikipedia.org/wiki/Kris_Kaspersky

[2019-07-16 13:24] mauvehed commented on #44
**Bibliography**

- Technique and philosophy of hacker attacks. ISBN 5-93455-015-2
- Thought pattern – IDA disassembler. ISBN 5-93455-093-4
- Technique of network attacks. ISBN 5-93455-078-0
- Fundamental principles of hacking. Inverse assembling mastership. ISBN 5-93455-175-2
- Sketch-book of a computer virus researcher. ISBN 5-469-00331-0
- Weather lore encyclopedia. Predicting weather by local

[2019-07-16 16:31] mauvehed opened #45 "Create a memorials template for adding people"
Let's build and define a default template (expanded from the current being used)

# Firstname Lastname (Handle)

### Birth - Death

## Contributions

### Software

### Hardware

### Research

### Books

### Talks

## Social Media

### Twitter

### LinkedIn

### Facebook

## Affiliations

## Comments

## Images

![](/images/Firstname_Lastname.jpg)

[2019-07-16 16:43] mauvehed opened #47 "Create a shell script to auto-generate the markdown file for new People"
It would be nice to have a basic shell script that takes user input to generate a markdown file for new People being added. This would ensure accuracy of file names and the persons name as well as simplify bulk creation.

[2019-07-16 16:52] mauvehed commented on #29
That is not the correct twitter.

This was his: https://twitter.com/adeptisdelta

[2019-07-16 20:02] mauvehed commented on #36
This is a dupe of #12

[2019-07-16 20:02] #36 closed, assigned to nobody

[2019-07-16 20:12] digital-grease commented on #29
This was his instagram:

https://www.instagram.com/justcallmedelta

[2019-07-17 23:55] chs-bnet opened #49 "Daren Senn (Sinster)"
Crap. Can't remember if it was Daren or Darin. I'm a bad friend.

[2019-07-17 23:57] chs-bnet commented on #49
[code]

[2019-07-18 01:14] attritionorg commented on #49
Wow, that is a hell of a memory!

[2019-07-19 15:30] mauvehed opened #50 "www.restincode.com does not resolve"
Only the domain itself resolves

[code]

[2019-07-20 18:35] mauvehed commented on #37
@ecapuano I cropped that photo, is this acceptable?

![Berry_Nolan](https://user-images.githubusercontent.com/141381/61582671-400ed700-aaf3-11e9-84fb-0f2aa488857d.PNG)

[2019-07-20 18:58] mubix commented on #50
Who uses "www" anymore ;-) I'll fix it.

[2019-07-20 19:05] mubix commented on #50
Should be fixed. I updated the DNS. Please let me know if you see the change (might take 24 hours)

[2019-07-20 21:28] mauvehed commented on #50
Working for me!

[2019-07-20 21:28] #50 closed, assigned to mubix

[2019-07-21 17:22] ecapuano commented on #37
Looks great. Thanks.

On Sat, Jul 20, 2019 at 13:35 mauvehed <notifications@github.com> wrote:

--

--
*ERIC CAPUANO*

*CTO // FOUNDER*
*RECONINFOSEC.COM <http://reconinfosec.com/>*
*O:* *512-270-4201 <(512)%20270-4201>*
*C:* *512-557-1885 <(512)%20557-1885>*

[2019-07-22 22:48] mubix opened #56 "Migrate to SunFire's code base"
Migrate code from https://bitbucket.org/sunfireweb/restincode/src/master/ to this repository and re-format all entries to match

[2019-07-22 22:59] mubix commented on #47
I think this will be changing so I'll close this. We do need a template for the json format though

[2019-07-22 22:59] #47 closed, assigned to nobody

[2019-07-22 22:59] mubix commented on #45
This should now be do-able now that this is an org project

[2019-07-25 20:06] attritionorg commented on #4
https://twitter.com/todayininfosec/status/1154460177799585792

[2019-07-27 02:38] attritionorg commented on #12
via Mubix:
http://darkstar.frop.org/pac-bell/

mirror: https://archive.is/VBS1S

[2019-07-28 03:59] attritionorg opened #57 "Eric Chavez"
https://www.linkedin.com/in/chaveze/
https://twitter.com/andrewsmhay/status/1154837713964732418
https://twitter.com/andrewsmhay/status/1155294438807285760

[2019-07-28 05:08] mauvehed opened #58 "test -- ignore"
test

[2019-07-28 05:08] #58 closed, assigned to nobody

[2019-07-28 05:08] mauvehed commented on #58
closing test

[2019-08-08 16:07] attritionorg opened #59 "Bill (@wolfgame)"
https://twitter.com/wolfgame
Passed on 8/3/2019 per Puking Monkey

[2019-08-08 18:52] attritionorg opened #60 "Steve Kirk (Lockheed)"
He was one of only a few folks who has ever lead the DEFCON NOC, and was the COO of DEFCON for a term or two before Speedrussr took over.

[2019-08-09 15:21] attritionorg opened #61 "Mike Assante"
Mike Assante passed away on July 5, 2019, age 48.

A touching and personal tribute here:
https://www.linkedin.com/pulse/my-friend-mike-assante-ernie-hayden/

And here:
https://www.csoonline.com/article/3403656/mike-assantes-lasting-impact-on-critical-infrastructure-security-and-me.html

[2019-08-21 16:52] Popsiclestick commented on #29
Added a PR for these changes https://github.com/restincode/restincode/pull/62

[2019-08-26 16:08] attritionorg commented on #60
https://twitter.com/v3rtig0/status/1166019201812721664

To all friends of @TheLockheed. We will be holding "SteveCon" in San Diego, on September 14th, 2019. Location TBD.  We're making arrangements now. Please save the date. If you'd like to say a few words or something, please DM me. This is for all his friends.

[2019-09-03 17:12] mubix commented on #56
Started this migration with 04722f92b641940618a558d6f9089cee6f5c9c95 It should be a lot easier to add people now. Once we have migrated over all of those that are already there, we can move sunfire.html to index.html and complete this ticket.

[2019-09-04 16:08] attritionorg commented on #60
Via v3rtig0:
Anyone interested in coming to SteveCon to celebrate the life of Lockheed can view information and register here:  https://www.eventbrite.com/e/stevecon-registration-70788078047

[2019-09-08 04:26] h00die opened #63 "memorials.md duplication"
https://github.com/restincode/restincode/blob/master/memorials.md

It looks like the following names are listed twice:
[code]

[2019-09-08 05:09] mauvehed commented on #63
Fixed in pull request #64

[2019-09-08 05:09] #63 closed, assigned to mauvehed

[2019-09-08 23:43] mauvehed commented on #18
@taylorbanks, let us know if you find photos and or can give us any other info (social media, dates, etc)

[2019-09-09 01:33] attritionorg commented on #1
https://twitter.com/troutman/status/1170808034676891649?s=21

[2019-09-09 03:16] mauvehed commented on #1
FB Group  https://www.facebook.com/profile.php?id=1096461817085507

[2019-09-10 04:33] mauvehed opened #72 "Social Media Links aren't clickable"
This may extend to all links, but at least the social media links are not clickable on the new Sunfire theme. The highlight/color change on hover, but are can't be clicked in either Chrome or FireFox.

[2019-09-10 04:38] mauvehed opened #73 "Setup a CONTRIBUTING.md file in Github for standards documentation"
Would be a good idea to setup a wiki with some info on standards for community submissions but also things like how to use labels and how to review PRs.

[2019-09-10 05:03] attritionorg commented on #72
Confirmed on Chrome

[2019-09-12 15:57] mubix commented on #73
So Github has a default markdown file meant for contributing: https://help.github.com/en/articles/setting-guidelines-for-repository-contributors maybe we just use that setup? Or do you think a wiki would be better?

[2019-09-12 16:04] mubix commented on #72
Something is removing some of the special characters from the links. Not sure what it is yet

[2019-09-12 16:12] mubix commented on #72
Fixed with 38e2030b18b00f30c3db1966537549f9770a97f7

[2019-09-12 16:12] #72 closed, assigned to nobody

[2019-09-13 03:37] mauvehed commented on #73
I think the contributors file will be enough. I'll modify this Issue.

[2019-09-15 13:22] mauvehed commented on #45
Completed via a json file for the new sunfire layout

https://github.com/restincode/restincode/blob/master/people/_template.json

[2019-09-15 13:22] #45 closed, assigned to nobody

[2019-09-17 00:50] #73 closed, assigned to mauvehed

[2019-09-17 01:28] mauvehed opened #78 "Fix unresolved merges from issue/56"
The #77 PR left a bunch of unresolved merge conflicts in it when it was landed. These need to be removed and cleaned up.

[2019-09-17 01:33] #78 closed, assigned to mauvehed

[2019-09-17 02:00] mauvehed opened #80 "Build test cases for validating URLs in PRs"
Given the number of times a broken imagine makes its way into a PR, we should look at test cases for HTML/JS

[2019-09-17 02:06] attritionorg opened #81 "Conor Fahey-Latrope (Conor Pot Pie)"
https://twitter.com/conorpotpie

Worked at BitTorrent. Passed a few years ago.

[2019-09-17 02:21] attritionorg commented on #81
https://twitter.com/whittles/status/429012523765886976

[2019-09-17 02:45] mauvehed opened #82 "Add Affiliations field to memorials"
Add an affiliations field (like obituary) to the memorials pages for people. Display blank if no value in json.

[2019-09-17 02:56] mauvehed commented on #56
@mubix I believe this is pretty much done and ready. There's a few more Issues to add more content to the JSON files, but everyone who was in the old site should be in the new peoplelist.json. We can either make this live sooner or wait until the rest of [Milestone 1](https://github.com/restincode/restincode/milestone/1) is complete.

[2019-09-17 04:08] mauvehed opened #85 "Link directly to the Issue from people's memorials"
It would be great if the "Please help" links from people's memorial pages linked directly to their Issue in Github to easily allow Contributors to add new data to their memorial.

[2019-09-17 04:09] mauvehed commented on #85
Perhaps we could add a new JSON value that would insert this in to the URLs being generated when there is no content for Description, Images, Contributions.

[2019-09-17 13:47] Thaumaturgy opened #92 "Profile and image layout discussion"
Would like to see a stronger layout for the photos/images - possibly moving them to the top of the page. Make them a banner/ ribbon with scroll arrows so that there are 4 photos max visible at a time. Alternatively, Create a profile picture for each person in the list and place that at the top (right or left) and then leave the images at the bottom (resized/scaled to a common size but can be selec

[2019-09-17 15:14] mauvehed commented on #82
PR submitted in #91

[2019-09-17 15:53] mauvehed commented on #85
Need to add error handling for if the 'issue' field is empty in the JSON

[2019-09-17 16:22] mauvehed commented on #85
Error handling added in #93

[2019-09-17 19:53] mauvehed opened #95 "Convert CRFL to FL"
My IDE created a bunch of files with CRFL (^M) style end of line characters. I need to bulk fix this and switch to FL.

[2019-09-17 20:14] mauvehed commented on #95
Completed in PR #96

[2019-09-17 20:14] #95 closed, assigned to mauvehed

[2019-09-17 20:15] #85 closed, assigned to mauvehed

[2019-09-17 20:15] #82 closed, assigned to mauvehed

[2019-09-17 20:18] mauvehed commented on #56
This is 100% ready to go live. I will create a PR to do so.

[2019-09-17 22:56] mauvehed opened #98 "Create a template for new Issues/PRs"
Create some kind of a template for when new issues are opened.

https://help.github.com/en/articles/about-issue-and-pull-request-templates

[2019-09-18 03:54] attritionorg commented on #14
https://twitter.com/Lazlo_D_Plumber/status/1174157953424875520

[2019-09-18 13:22] devsecfranklin commented on #9
I can build some stuff for you guys if you want. :)

[2019-09-19 17:02] mauvehed commented on #98
Awaiting access from @mubix

[2019-09-19 20:04] mauvehed commented on #61
Twitter Link - https://twitter.com/assante_michael (from #10, dupe)

[2019-09-19 20:04] #10 closed, assigned to nobody

[2019-09-19 20:04] mauvehed commented on #10
Dupe of #61

[2019-09-19 20:19] mauvehed opened #102 "Localize all images"
Any images we link from this project should not be hot-linked so we don't wind up with dead links later. I'd say we just stash 'em in the images/ folder, unless @attritionorg has another idea using various archive systems online.

[2019-09-20 02:01] #56 closed, assigned to mubix

[2019-09-21 09:10] mauvehed commented on #98
Completed in PR #103

[2019-09-21 09:10] #98 closed, assigned to mauvehed

[2019-09-21 09:36] mauvehed opened #104 "Add links back to github from RiC.com"
It would be good to make it a bit clearer how to contribute to this site by adding some links back to the github repo for the CONTRIBUTING.md file and/or opening issues. Perhaps adding this on the homepage below the image.

[2019-09-21 16:30] mubix commented on #102
@mauvehed agreed. Can you list which ones are hot-linked?

[2019-09-21 16:43] pamelahowell commented on #59
I have a picture...

[2019-09-21 17:15] mauvehed commented on #104
Completed in #105

[2019-09-21 17:15] #104 closed, assigned to nobody

[2019-09-21 18:21] pamelahowell opened #108 "Add photo to Bill Wolfgame"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Bill
* Last name:
* Handle: Wolfgame
* Birth Year:
* Death Year: 2019
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities: Dinner in NYC with several 2600 members, for Meme's birthd

[2019-09-22 00:23] attritionorg commented on #59
@mauvehed Do we have a documented process for where someone can upload/contribute?

@pamelahowell Happen to know his last name or any other information? Thanks!

[2019-09-24 03:44] attritionorg opened #109 "Chip Meadows"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Chip
* Last name: Meadows
* Handle:
* Birth Year:
* Death Year:
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Media Links**
* Twitter

[2019-09-24 06:32] attritionorg commented on #26
Handle: Asshurtmacfags

Adding for searchability.

[2019-09-24 07:33] pamelahowell commented on #59
Nope, knew him from NYC 2600 crowd in the mid 90s-early 2000s.

[2019-09-26 22:08] mauvehed opened #111 "Deven (d3c4f) Fore"
**General Info**
* First name: Deven
* Last name: Fore
* Handle: d3c4f
* Birth Year:
* Death Year: 2018
* Link to Obituary:
* Group Affiliations: DC801
* URL to main photo (or attach to Issue): https://secure.meetupstatic.com/photos/event/6/b/c/0/highres_470487584.jpeg
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Media Links**
* Twitter:
* Github:
* LinkedIn:

[2019-09-28 02:44] attritionorg opened #114 "Scott Sard (@Net_Metalrat)"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Scott
* Last name: Sard
* Handle: Net Metalrat
* Birth Year: 1960
* Death Year: 2019
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Me

[2019-09-28 19:03] mauvehed opened #116 "Add full dates for deceased"
In prep for the twitter bot (#9), we need the full dates of as many people as possible so we can schedule tweets on anniversaries.

[2019-09-28 19:55] attritionorg commented on #116
Ideally, birth date as well. Those are often mentioned in obits, so finding those for each person would be great.

[2019-09-29 03:02] attritionorg opened #117 "Don Blumenthal"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Don
* Last name: Blumenthal
* Handle:
* Birth Year:
* Death Year:
* Link to Obituary:
* Group Affiliations: ICANN
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Media Links**
*

[2019-09-29 03:16] attritionorg commented on #114
https://twitter.com/DustyWombat/status/1177778069316091905
We married in 1983, after taking a few years learning our way.
We tried for children, but it was not to be.
We had our miffs, but they never stopped us being together.
Now I have lost him.

Scott Sard, aka @net_metalrat, 1960-2019.

Bowel cancer is a right bastard.

[2019-10-04 19:16] attritionorg commented on #117
http://www.circleid.com/posts/20191003_rip_don_blumenthal/

It is with a heavy heart that we note the passing of a dear friend, colleague and member of the CAUCE board of directors, Don Blumenthal, on September 28, 2019, in Ann Arbor, Michigan. He was 67.

Don was an anti-spammer for as long a there was an anti-spam community: he helped design, deploy and maintain the famous 'Spam Fridge,' the rep

[2019-10-07 18:57] mauvehed commented on #109
- https://www.linkedin.com/in/chipmeadows/
- https://www.utsa.edu/today/2019/09/story/meadows-memoriam.html
- https://twitter.com/chipmeadows/status/1179194912182546438

[2019-10-12 04:29] mauvehed commented on #80
In progress, working on this with travis-ci and the html-proofer gem

[2019-10-13 14:19] mauvehed opened #119 "Fix html-proofer findings"
Now that travis-ci integration is integrated (PR#118 and Issue #80) we need to cleanup the current findings/errors.

From https://travis-ci.org/restincode/restincode/builds/597267337?utm_source=github_status&utm_medium=notification

[2019-10-13 14:34] mauvehed commented on #80
This currently checks for valid HTML and URLs in *.html files, but is ignoring the *.json files under people/

Will need to investigate further if this is possible or if I need a different tool to validate those URLs.

[2019-10-13 15:10] #119 closed, assigned to mauvehed

[2019-10-13 18:08] mauvehed commented on #26
- https://www.imdb.com/name/nm6795493/
- https://www.facebook.com/asshurtmacfags/
- https://www.vice.com/en_uk/article/nn4gvk/rustle-league-are-making-sure-trolling-stays-funny
- https://github.com/asshurtmacfags
- https://www.blogtalkradio.com/canadianglen/2018/01/17/rustle-league-radio-remembers-asshurtmacfags
- https://twitter.com/asshurtmacfags
- https://twitter.com/ACKFlags

[2019-10-13 19:33] mauvehed commented on #26
Still need to add some of the additional links, once we add a new field for other data.

[2019-10-13 19:35] mauvehed commented on #26
https://chronicle.su/news/jaime-cochran-lived/

[2019-10-14 13:14] mauvehed commented on #26
https://github.com/compoterhacker

[2019-10-14 21:03] mauvehed opened #122 "Add references field to people JSON"
I think we need to add another section (like socialmedialinks, gallery, or contributions) that's for other miscellaneous things such as news articles about them, obituaries, stories, videos, etc. Things they didn't create, but relate to them.

[2019-10-14 22:39] attritionorg commented on #122
@mauvehed and I chatted about this. I think a wikipedia heading would be good, even if they don't have a page. Maybe encourage someone to write one.

Obit we have I think. News articles are good as a separate category. All the socials yes. Then finally a generic 'References' section as a catch-all for the rest.

[2019-10-26 04:56] #24 closed, assigned to nobody

[2019-10-26 04:56] #23 closed, assigned to nobody

[2019-10-31 19:43] philcryer commented on #102
Just a quick/dirty check:

[code]

[2019-11-02 04:55] mauvehed commented on #102
@philcryer feel free to submit a PR if I don't get to it first ;-)

[2019-11-10 23:09] attritionorg commented on #33
Based on Obit, was CTO at TICOM, Inc. (https://bizstanding.com/directory/TX/TI/147/)
Signed an open letter to DOJ re: Microsoft Settlement (http://www.kegel.com/remedy/letter.html)

[2019-11-21 00:51] attritionorg opened #127 "Christopher Reid Fudge"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Christopher
* Last name: Fudge
* Handle:
* Birth Year: July 8, 1957
* Death Year: November 19, 2019
* Link to Obituary: https://everdays.com/funeral-homes/usa/co/centennial/horan--mcconaty---south-metrocentennial/christopher-reid-fudge
* Group Affiliation

[2019-11-24 22:25] attritionorg commented on #127
Reid, Fudge passed away peacefully at age 62 on November 19th, 2019 in Highlands Ranch Colorado. He will forever be remembered by all those who met him as a kind-hearted soul that warmed any room he walked into. His journey in this life began in Jacksonville, Florida on July 8th, 1957. Born to two loving parents Linda and Donald Fudge.

Reid is survived by his loving wife and life-long partner of

[2019-11-28 01:15] mauvehed opened #128 "Kelvin White (L3thal)"
**General Info**
* First name: Kelvin
* Last name: White
* Handle: L3thal
* Birth Year: Oct 24th 1977
* Death Year: 2017
* Link to Obituary:
* Group Affiliations: SmashTheStack
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL: https://www.facebook.com/kelvinwhitelethal/

**Social Media Links**
* Twitter: https://twitter.com/l3thal_s

[2019-12-02 02:10] philcryer commented on #102
PR submitted. Let me know if there are any issues, I'd like to help more. Thanks

https://github.com/restincode/restincode/pull/129

[2019-12-02 02:18] philcryer commented on #92
Could I suggest we look at a static site content option, say Jekyll or Hugo for a reorg, or is that a separate ticket/effort?

[2019-12-02 03:19] philcryer opened #130 "Twitter is deactivating inactive accounts"
Sorry, this falls outside of the categories. Basically:

Twitter is deactivating inactive accounts, if a user doesn't login for 6 months, they reserve the right to deactivate the account, and make the username available again. Do we care? Do we just assume links to Twitter user accounts are going to be broken soon, and if they ever become working again they'll be to a totally different user?

http

[2019-12-02 05:51] attritionorg commented on #130
They reversed that decision specifically because of the deceased / memorial aspect, and are giving their plans more thought so as to respect such cases, while still freeing up account names.

https://twitter.com/TwitterSupport/status/1199777312054493184

Specifically:
https://twitter.com/TwitterSupport/status/1199777313300209664
We’ve heard you on the impact that this would have on the accounts of

[2019-12-02 14:44] philcryer commented on #130
Excellent, I wasn't aware of that, thanks for the good news

[2019-12-09 14:58] philcryer commented on #130
Since they changed their mind (for now) this is a moot issue. Closing

[2019-12-09 14:58] #130 closed, assigned to nobody

[2020-03-13 16:32] mikkohypponen opened #131 "Péter Szőr"
Péter Szőr (17 July 1970 – 12 November 2013) was a computer virus researcher. He was also hacker, and entrepreneur and succesful author. Originally from Hungary, he worked in Finland and the United States.

[2020-03-13 16:33] mauvehed commented on #131
Thanks, Mikko.

[2020-03-16 11:30] mikkohypponen commented on #131
![peter_szor_1998](https://user-images.githubusercontent.com/1636990/76754129-46d91100-678a-11ea-8d13-13a510044a7f.jpg) Peter Szor in 1998

[2020-03-16 11:31] mikkohypponen commented on #131
[Book: The Art of Computer Virus Research and Defense, by Péter Szőr](https://www.amazon.com/gp/product/0321304543/ref=dbs_a_def_rwt_hsch_vapi_taft_p1_i0)

[2020-03-16 11:32] mikkohypponen commented on #131
[The Peter Szor award at the annual Virus Bulletin Conference](https://www.virusbulletin.com/blog/2014/09/windigo-research-wins-first-annual-p-ter-sz-r-award)

[2020-03-16 11:33] mikkohypponen commented on #131
[In memoriam: Péter Ször 1970-2013](https://www.virusbulletin.com/virusbulletin/2013/12/memoriam-p-ter-sz-r-1970-2013)

[2020-03-16 11:33] #131 closed, assigned to mauvehed

[2020-03-16 11:33] mikkohypponen commented on #131
[Peter on Wikipedia](https://en.wikipedia.org/wiki/P%C3%A9ter_Sz%C5%91r)

[2020-03-29 17:59] attritionorg opened #132 "Karen (Krystalia)"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Karen
* Last name:
* Handle: Krystalia
* Birth Year:
* Death Year: October 29th, 1999
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social M

[2020-04-02 12:24] mubix opened #133 "Lady Tiffany "Charlie" Hinch"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Tiffany
* Last name: Hinch
* Handle: Charlie
* Birth Year: August 23, 1979
* Death Year: March 23, 2020
* Link to Obituary: https://www.harrellfuneralhomes.com/obituary/373473/Tiffany-Hinch/
* Group Affiliations: Hacker Jeopardy
* URL to main photo (or at

[2020-04-13 18:21] mubix opened #134 "John Horton Conway"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: John
* Last name: Horton
* Handle:
* Birth Year: 1937
* Death Year: 2020
* Link to Obituary: https://dailyvoice.com/new-jersey/mercer/obituaries/covid-19-kills-renowned-princeton-mathematician-game-of-life-inventor-john-conway-in-3-days/786461/
* Group Af

[2020-05-17 21:34] #102 closed, assigned to philcryer

[2020-05-17 21:35] #80 closed, assigned to mauvehed

[2020-06-06 04:31] mauvehed opened #135 "Aaron Testerman"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Aaron
* Last name: Testerman
* Handle:
* Birth Year: March 17, 1978
* Death Year: May 11, 2020
* Link to Obituary: https://www.dignitymemorial.com/obituaries/colton-ca/aaron-testerman-9181596
* Group Affiliations:
* URL to main photo (or attach to Issue):

[2020-06-11 20:38] ghost commented on #134
Need more information

[2020-06-25 03:10] attritionorg opened #155 "Michael Hawley"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name:
* Last name:
* Handle:
* Birth Year:
* Death Year:
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Media Links**
* Twitter:
* Github:
*

[2020-07-12 16:20] mauvehed opened #157 "Add file/person syntax validation to Github-Actions"
**Is your feature request related to a problem? Please describe.**
It would be good to add a verification check via GitHub Actions to look for missing entries or invalid syntax in the [peoplelist.json](https://github.com/restincode/restincode/blob/main/peoplelist.json) file.

**Describe the solution you'd like**
Upon creation of a Pull Request, a Github action should validate proper json syntax in

[2020-07-13 00:04] mauvehed commented on #114
@notpike thanks for the updates! I was actually working on this just now and am super happy to see some additional feedback and information. I'll go a head and add this in as an additional change.

Thank you greatly!

[2020-08-09 23:17] mubix opened #158 "Mark Edward Shapiro"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Mark
* Last name: Shapiro
* Handle: gntlmnguardian
* Birth Year: January 18th, 1979,
* Death Year: May 5th, 2020
* Link to Obituary: https://www.dignitymemorial.com/obituaries/falls-church-va/mark-shapiro-9170264
* Group Affiliations:
* URL to main photo

[2020-08-09 23:20] attritionorg commented on #158
Mark was employed at Jacobs Critical Mission Solutions as a Project Manager of cybersecurity, intelligence, and information operations, for the Securities and Exchange Commission in Washington, D.C.

Only weeks prior to his death, Mark had just completed his first cybersecurity industry convention presentation, giving a featured talk at BSides NoVA on “Democratizing Intelligence.” He also trained

[2020-08-27 17:09] inorganic8 commented on #19
I"m not sure if this is how to contribute, but here goes:
Joseph Hinton Rogers III was born in Lakeland Florida on May 4, 1974. He passsed after a 2.5-year battle with colon cancer on June 12, 2019. He wants everyone in the world to make sure their colonoscopy is up to date.

You can find his full obituary here:
https://loylessfuneralhomes.com/tribute/details/140691/Joseph-Rogers-III/obituary.html

[2020-08-27 18:20] attritionorg commented on #19
@inorganic8 That is the best way to contribute and we sincerely thank you for taking the time to share all of this.

[2020-10-09 17:48] attritionorg opened #160 "Steve Steinberg (Frank Drake)"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Steve
* Last name: Steinberg
* Handle: Frank Drake
* Birth Year: 1970
* Death Year: 2020
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue): https://i0.wp.com/boingboing.net/wp-content/uploads/2020/10/screenshot-37.jpg?fit=

[2020-10-24 21:39] attritionorg commented on #24
https://twitter.com/todayininfosec/status/1319424375217659906

[2020-11-29 17:49] attritionorg commented on #4
https://www.muckrock.com/foi/united-states-of-america-10/fbi-barnaby-michael-douglas-jack-24427/#comms

[2020-11-29 17:52] attritionorg commented on #7
https://www.muckrock.com/foi/united-states-of-america-10/aaron-swartz-fbi-2484/

Several others:
https://www.muckrock.com/foi/list/?q=Aaron+Swartz+&status=&has_embargo=&has_crowdfund=&minimum_pages=&date_range_min=&date_range_max=&file_types=&search_title=

[2020-11-29 17:52] attritionorg commented on #6
https://www.muckrock.com/foi/list/?q=Sassaman+&status=&has_embargo=&has_crowdfund=&minimum_pages=&date_range_min=&date_range_max=&file_types=&search_title=

[2020-11-30 01:53] attritionorg commented on #26
https://www.muckrock.com/foi/united-states-of-america-10/jamie-aka-ackflags-47588/

[2020-12-03 01:09] attritionorg commented on #32
Bio from recon link:

Jonathan Stuart is an independant security researcher and Hacker. He has been in the field for 12 years. He has committed to various open source operating systems, is a BSD/UNIX kernel engineer, and has spoken at Arizona State University to a group of graduate CS students, ReCon (twice before), and trained at BlackHat on telephony related hacking. He started his career at Ent

[2021-01-06 16:32] ThOr101 commented on #158
Contributions

- Project name: BSides NoVA 2020 - 1500 - Democratized Intelligence: Promises and Pitfalls

- Project URL: https://www.youtube.com/watch?v=qKWQyk7Xypw&list=PLrwRJhfJmJRjleUT5gEBno3S5csqNIhFo&index=6&t=320s

- Project Description:  The advancement of technology and the information environment of the 21st century have lead to considerable growth and lowering of barriers in what amount

[2021-01-10 03:28] attritionorg opened #161 "Yonathan Klijnsma (@ydklijnsma)"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Yonathan
* Last name: Klijnsma
* Handle:
* Birth Year:
* Death Year:
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Media Links**
* Tw

[2021-01-10 03:28] attritionorg commented on #161
https://twitter.com/zackwhittaker/status/1348076813440999431

Per replies, passed due to cancer.

[2021-01-10 16:41] attritionorg commented on #161
https://twitter.com/ydklijnsma/status/1348122243016970241

[2021-01-10 23:06] attritionorg commented on #161
https://cybersecurityinterviews.com/episodes/61-yonathan-klijnsma-get-compromised-get-compromised/

[2021-03-04 18:59] attritionorg opened #162 "James Dolan"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: James
* Last name: Dolan
* Handle:
* Birth Year: July 20, 1981
* Death Year: December 27, 2017
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

*

[2021-03-04 19:00] attritionorg opened #163 "Gene Kan"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Gene
* Last name: Kan
* Handle:
* Birth Year: September 6, 1976
* Death Year: June 29, 2002
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**So

[2021-03-04 19:00] attritionorg opened #164 "Ilya Zhitomirskiy"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Ilya
* Last name: Zhitomirskiy
* Handle:
* Birth Year:
* Death Year:
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Media Links**
* Tw

[2021-03-12 16:32] attritionorg opened #165 "Kevin Estis (@kevinestis)"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Kevin
* Last name: Estis
* Handle:
* Birth Year:
* Death Year: 2021
* Link to Obituary:
* Group Affiliations: DEFCON Goon
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Media L

[2021-03-13 04:52] attritionorg commented on #165
https://www.gofundme.com/f/aid-for-kevin-estis-family-and-pets

[2021-03-21 14:12] jfritsch75 commented on #14
Written in December 2011.
[comega.docx](https://github.com/restincode/restincode/files/6177567/comega.docx)

[2021-03-21 14:25] jfritsch75 commented on #14
https://www.linkedin.com/in/jaydyson/

[2021-03-21 14:25] jfritsch75 commented on #14
http://www.treachery.net/~jdyson/

[2021-03-21 14:57] mauvehed opened #166 "Krystalia"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name:
* Last name:
* Handle: Krystalia
* Birth Year:
* Death Year:  Oct 29, 1999
* Link to Obituary:
* Group Affiliations: DEF CON
* URL to main photo (or attach to Issue): http://krystalia.org/pics/Images/3.jpg
* Description of person and/or activities:
* Face

[2021-03-21 21:08] mauvehed commented on #166
Duplicate of #132

[2021-03-21 21:08] #166 closed, assigned to nobody

[2021-04-05 18:51] attritionorg opened #167 "Chris Scott (Cyb3r_Assassin)"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Chris
* Last name: Scott
* Handle: Cyb3r_Assassin
* Birth Year:
* Death Year: 2021
* Link to Obituary:
* Group Affiliations: FoD, DEF CON Goon
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group U

[2021-04-06 18:57] wehackpeople commented on #167
General Info

    First name: Chris
    Last name: Scott
    Handle: Cyb3r_Assassin
    Birth Year: 1983
    Death Year: 2021
    Link to Obituary:
    Group Affiliations: DC615 - Nashville DEF CON Group
    URL to main photo (or attach to Issue):
    Description of person and/or activities:
    Facebook memorial group URL:

Social Media Links

    Twitter: https://twitter.com/Cyb3r_Assassin
    G

[2021-04-17 23:28] attritionorg opened #168 "RC Martinez (GodFix)"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: RC
* Last name: Martinez
* Handle: GodFix
* Birth Year:
* Death Year: 2021
* Link to Obituary:
* Group Affiliations: DEF CON Goon
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social

[2021-04-18 00:15] attritionorg commented on #168
From a Discord:

Skydog said it best, and is allowing me to share his words:

Sooo. It's Saturday, and I'm hanging with Evan Davison at my place for the first time in almost two years. I get a phone call from a friend to let me know that RC Martinez, also known to the hacker community as GodFix has passed away. RC was a friend to many, and a special friend to me. He was also a member of the SkyDog

[2021-04-18 00:16] attritionorg commented on #60
DEF CON Goon

[2021-04-18 00:19] attritionorg commented on #168
![RC-FB_IMG_1618704635674](https://user-images.githubusercontent.com/3095424/115130061-779d0280-9fa9-11eb-867b-07f4ed388860.jpg)

[2021-04-18 01:00] pentestfail commented on #168
**First name:** RC
**Last name:** Martinez
**Handle:** GodFix
**Twitter:** @GodFix
**Death Year:** 2021

**Description of person and/or activities:**
**[SkyDogCon Staff Bio - GODFIX](https://www.skydogcon.com/2021/04/in-memoriam-godfix.html)**

TieFighter's right-hand man and talent acquisition miracle worker. GodFix has been a staff member for five different conferences since 2007. When he's not

[2021-04-19 04:44] Mr-Protocol commented on #167
https://www.clary-glenn.com/obituary/christopher-chris-scott

Used to be friends with him on Facebook, but page is gone.

I know he was into exotic cars and I believe he would allow photoshoots with his.

Github: https://github.com/Cyb3r-Assassin

Website from Github: http://cyb3r-assassin.com directs to https://cyb3rassassin.wordpress.com/

Youtube Channel: https://www.youtube.com/channel/UCr-NX4

[2021-04-24 15:26] attritionorg opened #169 "Dan Kaminsky"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Dan
* Last name: Kaminsky
* Handle:
* Birth Year:
* Death Year: 2021 (Apr 23)
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Media Lin

[2021-04-24 16:39] attritionorg commented on #169
![Dan_Kaminsky_RIP-by_y3t1](https://user-images.githubusercontent.com/3095424/115966074-4e203180-a4e9-11eb-821f-a72e7b74c8c6.png)

[2021-04-24 20:21] mauvehed commented on #169
https://www.securityweek.com/security-researcher-dan-kaminsky-passes-away

[2021-04-24 21:51] attritionorg commented on #169
https://it.slashdot.org/story/21/04/24/1645214/security-researcher-dan-kaminsky-has-died

[2021-04-27 20:43] joegrand opened #171 "Preston (Veruus)"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Preston
* Last name:
* Handle: Veruus
* Birth Year:
* Death Year:
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Media Links**
* Twitt

[2021-04-28 00:50] attritionorg commented on #169
https://www.nytimes.com/2021/04/27/technology/daniel-kaminsky-dead.html

[2021-04-30 21:07] attritionorg commented on #169
https://www.the-parallax.com/cybersleuth-dan-kaminsky-medical-answers/

[2021-05-09 23:49] rikfarrow opened #172 "Photo of Len Sassaman"
I received a very nice, high resolution photo of Len Sassaman, to accompany an article published the year he died (https://www.usenix.org/publications/login/december-2011-volume-36-number-6/exploit-programming-buffer-overflows-weird). The photo is very high-resolution and needs to be rotated, but I'll leave it to 'you' to decide how you want to modify it.
![sassaman](https://user-images.githubuser

[2021-05-23 04:55] mauvehed commented on #172
Parent ticket, #6

[2021-05-23 17:58] #9 closed, assigned to mauvehed

[2021-05-23 18:00] #92 closed, assigned to nobody

[2021-05-23 18:00] #122 closed, assigned to mauvehed

[2021-05-23 22:30] rikfarrow commented on #172
The Wikipedia photo looks like the version I was given by Sergey Bratus, a
friend of Len Sassaman. I just noticed that there was a photo for Len on
your site.

Rik

On Sat, May 22, 2021 at 9:55 PM mauvehed ***@***.***> wrote:

[2021-06-29 18:19] astcell commented on #13
Here you go, here is a photo of him. http://hackerphotos.com/upload/2017/08/08/20170808041847-35e2e5f8.jpg

[2021-07-17 16:39] attritionorg commented on #169
https://twitter.com/textfiles/status/1416436828861775872
For DEFCON Documentary (2012), I interviewed Dan Kaminsky @dakami for 30 minutes about DEFCON, speaking at hacking cons, and what he finds special about it all.

With permission from @thedarktangent the full interview is out of the vaults and is up now:

https://www.youtube.com/watch?v=ZkqY4l6mPtc

[2021-09-15 15:56] attritionorg opened #183 "Glenn Eccard (V310C1TY)"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Glenn
* Last name: Eccard
* Handle: V310C1TY
* Birth Year:
* Death Year: 2021
* Link to Obituary:
* Group Affiliations: Hackers For Charity
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

[2021-09-15 17:17] attritionorg opened #184 "Reverend Rat"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name:
* Last name:
* Handle: Reverend Rat
* Birth Year:
* Death Year:
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Media Links**
* Twitter

[2022-03-15 16:51] attritionorg opened #185 "Fabian Rodriguez (scrotum man)"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Fabian
* Last name: Rodriguez
* Handle: scrotum man
* Birth Year:
* Death Year: 2022
* Link to Obituary:
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of person and/or activities:
* Facebook memorial group URL:

**Social Me

[2022-04-10 02:23] attritionorg opened #187 "Mike Murray"
Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Mike
* Last name: Murray
* Handle:
* Birth Year:
* Death Year: 2022
* Link to Obituary: https://jamesreidfuneralhome.com/tribute/details/14089/Michael-Murray/obituary.html
* Group Affiliations:
* URL to main photo (or attach to Issue):
* Description of pe

[2022-05-22 08:02] sprocket-1 commented on #12
+ [date of death](https://www.legacy.com/us/obituaries/sacbee/name/joshua-cohen-obituary?id=33058427) February 22, 2005

[2022-05-22 08:18] sprocket-1 commented on #187
+ [date of death](https://www.jamesreidfuneralhome.com/tribute/details/14089/Michael-Murray/obituary.html) April 7, 2022

[2022-05-22 08:30] sprocket-1 commented on #187
+ **date of birth** March 31, 1976
*obtained through social media posts on person's instagram account.*

[2022-10-07 02:08] attritionorg opened #188 "Kevin William Riggins"
https://twitter.com/myrcurial/status/1578106508943818753

Please fill out as much information as you can. No fields are required, but the more you can provide the better.

**General Info**
* First name: Kevin
* Last name: Riggins
* Handle:
* Birth Year:
* Death Year:
* Link to Obituary: https://www.hamiltonsfuneralhome.com/services/services_detail.aspx?rid=62762
* Group Affiliations:
* URL to main

[2022-10-07 05:42] mubix commented on #188
Thank you @attritionorg  :( I tried to start this one and just couldn't ....

[2022-11-04 08:18] 7etsuo commented on #32
![niv](https://user-images.githubusercontent.com/90065760/199923770-6cb36b36-2902-426f-a67d-87a308619321.jpg)

[2022-11-04 08:30] 7etsuo commented on #32
https://www.npr.org/transcripts/519298871
https://www.doomworld.com/interviews/int2.shtml

He also went by niv and njrsydevil on efnet.